services:

  flask_app:
    build: .
    container_name: flask_app
    ports:
      - "9000:9000"
    networks:
      - reverse_proxy_net
    env_file:
      - .env
      
  reverse_proxy:
    image: nginx:latest
    container_name: nginx_reverse_proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    networks:
      - reverse_proxy_net

networks:
  reverse_proxy_net:
    name: reverse_proxy_net